.footer-container{
    background-color: #7bc5ae;
    height: 10rem;
    margin-top: 20rem;
    padding-top: 2rem;
}

.p-footer{
    font-size: 1.5rem;
    color: white;
    margin-left: 5rem;
}

.fa-facebook {
    color: blue;
    margin-left: 3rem;
    margin-right: 1rem;
}

.fa-instagram{
    color:#F401C6 ;
    margin-left: 3rem;
    margin-right: 1rem;
}

.fa-map-pin{
    color:red;
    margin-left: 3rem;
    margin-right: 1rem;

}
