.div-nos{

    display: grid;
    place-items: center;
    font-size: 1rem;
    margin-left: 6rem;
    margin-right: 6rem;
    background-color:#7bc5ae;
    margin-top: 2rem;
    padding: 40px;
    text-align: center;
    font-style: italic;

    @media (min-width: 768px){
    display: grid ;
    place-items: center;
    padding: 60px;
    height: 100%;
    font-size: 2rem;
    background-color:#7bc5ae ;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 4rem;
    }
}

.title-nos {

    margin-top: 1rem;
    
    @media (min-width: 768px){
    margin-top: 2rem;
    }
}

strong {
    font-weight: normal;
}